@font-face { 
  font-family: 'Poppins-Regular'; 
  src: url('../assets/fonts/Poppins/Poppins-Regular.woff') format('woff'); 
  font-weight: 400; 
}

@font-face { 
  font-family: 'Poppins-SemiBold'; 
  src: url('../assets/fonts/Poppins/Poppins-SemiBold.woff') format('woff'); 
  font-weight: 600; 
} 
 
@font-face { 
  font-family: 'Poppins-Bold'; 
  src: url('../assets/fonts/Poppins/Poppins-Bold.woff') format('woff'); 
  font-weight: 700; 
}